.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  text-align: start;
  align-items: flex-start;
  padding-left: 25px;
  width: 80%;
}

.main svg {
  color: #ad325d;
  cursor: pointer;
}

.button {
  width: 90%;
  background-color: #ad325d;
  border: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.button:hover {
  background-color: #680a2b;
}

@media screen and (min-width: 800px) {
  .button {
    width: 35%;
    font-size: 15px;
    padding: 5px;
  }
  .textWrapper {
    width: 90%;
  }
}
