.button {
  width: 90%;
  background-color: #ad325d !important;
  border: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.button:hover {
  background-color: #680a2b;
}

@media screen and (min-width: 800px) {
  .button {
    width: 35%;
    font-size: 15px;
    padding: 5px;
  }
}
