.header {
  background-color: #007aad;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.container{
  position: relative;
}

.userIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 8px;
  overflow: hidden;
  background-color: #e1ecf7;
  color: #b4cfeb;
}

.header h2 {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.pencil {
  position: absolute;
  left: 65px;
  top: 45px;
  color: #fff;
  overflow: hidden;
  border-radius: 50%;
  background-color: #ad325d;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}
